#cardlist-makanan, #cardlist-minuman {
  display: flex;
  flex-wrap: wrap;
}
.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 20px;
  margin: 10px 20px;
  position: relative;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-title {
  font-size: 1.5em;
  margin: 0;
}
.card-icons {
  display: flex;
  gap: 10px;
}
.card-icons a {
  color: #888;
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s;
}
.card-icons a:hover {
  color: #555;
}
.card-content {
  margin-top: 10px;
  font-size: 1em;
  color: #333;
}
.white {
  background-color: white;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}